adf0514/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "adf0514"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Transform New Reports')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference"
							},
							"name": "NewCrimesFile",
							"script": "source(output(\n\t\tarrest as string,\n\t\tbeat as string,\n\t\tblock as string,\n\t\tcase_number as string,\n\t\tcommunity_area as string,\n\t\tdate as string,\n\t\tdescription as string,\n\t\tdistrict as string,\n\t\tdomestic as string,\n\t\tfbi_code as string,\n\t\tid as string,\n\t\tiucr as string,\n\t\tlatitude as string,\n\t\tlocation_description as string,\n\t\tlongitude as string,\n\t\tprimary_type as string,\n\t\tupdated_on as string,\n\t\tward as string,\n\t\tx_coordinate as string,\n\t\ty_coordinate as string,\n\t\tyear as string,\n\t\t{location.latitude} as string,\n\t\t{location.longitude} as string,\n\t\t{location.human_address} as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tpurgeFiles: true) ~> NewCrimesFile",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "Crimes_NewTable",
								"type": "DatasetReference"
							},
							"name": "NewCrimesTable",
							"script": "LocationColumn sink(input(\n\t\tID as string,\n\t\t{Case Number} as string,\n\t\tDate as string,\n\t\tBlock as string,\n\t\tIUCR as string,\n\t\t{Primary Type} as string,\n\t\tDescription as string,\n\t\t{Location Description} as string,\n\t\tArrest as string,\n\t\tDomestic as string,\n\t\tBeat as string,\n\t\tDistrict as string,\n\t\tWard as string,\n\t\t{Community Area} as string,\n\t\t{FBI Code} as string,\n\t\t{X Coordinate} as string,\n\t\t{Y Coordinate} as string,\n\t\tYear as string,\n\t\t{Updated On} as string,\n\t\tLatitude as string,\n\t\tLongitude as string,\n\t\tLocation as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tmapColumn(\n\t\tID = id,\n\t\t{Case Number} = case_number,\n\t\tDate = date,\n\t\tBlock = block,\n\t\tIUCR = iucr,\n\t\t{Primary Type} = primary_type,\n\t\tDescription = description,\n\t\t{Location Description} = location_description,\n\t\tArrest = arrest,\n\t\tDomestic = domestic,\n\t\tBeat = beat,\n\t\tDistrict = district,\n\t\tWard = ward,\n\t\t{Community Area} = community_area,\n\t\t{FBI Code} = fbi_code,\n\t\t{X Coordinate} = x_coordinate,\n\t\t{Y Coordinate} = y_coordinate,\n\t\tYear = year,\n\t\t{Updated On} = updated_on,\n\t\tLatitude = latitude,\n\t\tLongitude = longitude,\n\t\tLocation = location\n\t)) ~> NewCrimesTable"
						}
					],
					"transformations": [
						{
							"name": "RemoveColumns",
							"script": "NewCrimesFile select(mapColumn(\n\t\tarrest,\n\t\tbeat,\n\t\tblock,\n\t\tcase_number,\n\t\tcommunity_area,\n\t\tdate,\n\t\tdescription,\n\t\tdistrict,\n\t\tdomestic,\n\t\tfbi_code,\n\t\tid,\n\t\tiucr,\n\t\tlatitude,\n\t\tlocation_description,\n\t\tlongitude,\n\t\tprimary_type,\n\t\tupdated_on,\n\t\tward,\n\t\tx_coordinate,\n\t\ty_coordinate,\n\t\tyear\n\t))~> RemoveColumns"
						},
						{
							"name": "LocationColumn",
							"script": "RemoveColumns derive(location = concat('(',latitude,',',longitude,')')) ~> LocationColumn"
						}
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SCD type 2')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "AzureSqlAdventureWorksLT",
								"type": "DatasetReference"
							},
							"name": "SalesLTProduct",
							"script": "source(output(\n\t\tProductID as integer,\n\t\tName as string,\n\t\tProductNumber as string,\n\t\tColor as string,\n\t\tStandardCost as decimal(19,4),\n\t\tListPrice as decimal(19,4),\n\t\tSize as string,\n\t\tWeight as decimal(8,2),\n\t\tProductCategoryID as integer,\n\t\tProductModelID as integer,\n\t\tSellStartDate as timestamp,\n\t\tSellEndDate as timestamp,\n\t\tDiscontinuedDate as timestamp,\n\t\tThumbNailPhoto as binary,\n\t\tThumbnailPhotoFileName as string,\n\t\trowguid as string,\n\t\tModifiedDate as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tformat: 'table') ~> SalesLTProduct",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "AzureSqlAdventureWorksDW",
								"type": "DatasetReference"
							},
							"name": "dboDimProduct",
							"script": "source(output(\n\t\tProductKey as integer,\n\t\tProductAlternateKey as string,\n\t\tProductSubcategoryKey as integer,\n\t\tWeightUnitMeasureCode as string,\n\t\tSizeUnitMeasureCode as string,\n\t\tEnglishProductName as string,\n\t\tSpanishProductName as string,\n\t\tFrenchProductName as string,\n\t\tStandardCost as decimal(19,4),\n\t\tFinishedGoodsFlag as boolean,\n\t\tColor as string,\n\t\tSafetyStockLevel as integer,\n\t\tReorderPoint as integer,\n\t\tListPrice as decimal(19,4),\n\t\tSize as string,\n\t\tSizeRange as string,\n\t\tWeight as double,\n\t\tDaysToManufacture as integer,\n\t\tProductLine as string,\n\t\tDealerPrice as decimal(19,4),\n\t\tClass as string,\n\t\tStyle as string,\n\t\tModelName as string,\n\t\tLargePhoto as binary,\n\t\tEnglishDescription as string,\n\t\tFrenchDescription as string,\n\t\tChineseDescription as string,\n\t\tArabicDescription as string,\n\t\tHebrewDescription as string,\n\t\tThaiDescription as string,\n\t\tGermanDescription as string,\n\t\tJapaneseDescription as string,\n\t\tTurkishDescription as string,\n\t\tStartDate as timestamp,\n\t\tEndDate as timestamp,\n\t\tStatus as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tformat: 'table') ~> dboDimProduct",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "AzureSqlAdventureWorksDW",
								"type": "DatasetReference"
							},
							"name": "sink1",
							"script": "setattribute sink(input(\n\t\tProductKey as integer,\n\t\tProductAlternateKey as string,\n\t\tProductSubcategoryKey as integer,\n\t\tWeightUnitMeasureCode as string,\n\t\tSizeUnitMeasureCode as string,\n\t\tEnglishProductName as string,\n\t\tSpanishProductName as string,\n\t\tFrenchProductName as string,\n\t\tStandardCost as decimal(19,4),\n\t\tFinishedGoodsFlag as boolean,\n\t\tColor as string,\n\t\tSafetyStockLevel as integer,\n\t\tReorderPoint as integer,\n\t\tListPrice as decimal(19,4),\n\t\tSize as string,\n\t\tSizeRange as string,\n\t\tWeight as double,\n\t\tDaysToManufacture as integer,\n\t\tProductLine as string,\n\t\tDealerPrice as decimal(19,4),\n\t\tClass as string,\n\t\tStyle as string,\n\t\tModelName as string,\n\t\tLargePhoto as binary,\n\t\tEnglishDescription as string,\n\t\tFrenchDescription as string,\n\t\tChineseDescription as string,\n\t\tArabicDescription as string,\n\t\tHebrewDescription as string,\n\t\tThaiDescription as string,\n\t\tGermanDescription as string,\n\t\tJapaneseDescription as string,\n\t\tTurkishDescription as string,\n\t\tStartDate as timestamp,\n\t\tEndDate as timestamp,\n\t\tStatus as string\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false,\n\tformat: 'table',\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tmapColumn(\n\t\tProductKey,\n\t\tProductAlternateKey,\n\t\tProductSubcategoryKey,\n\t\tWeightUnitMeasureCode,\n\t\tSizeUnitMeasureCode,\n\t\tEnglishProductName,\n\t\tSpanishProductName,\n\t\tFrenchProductName,\n\t\tStandardCost,\n\t\tFinishedGoodsFlag,\n\t\tColor,\n\t\tSafetyStockLevel,\n\t\tReorderPoint,\n\t\tListPrice,\n\t\tSize,\n\t\tSizeRange,\n\t\tWeight,\n\t\tDaysToManufacture,\n\t\tProductLine,\n\t\tDealerPrice,\n\t\tClass,\n\t\tStyle,\n\t\tModelName,\n\t\tEnglishDescription,\n\t\tFrenchDescription,\n\t\tChineseDescription,\n\t\tArabicDescription,\n\t\tHebrewDescription,\n\t\tThaiDescription,\n\t\tGermanDescription,\n\t\tJapaneseDescription,\n\t\tTurkishDescription,\n\t\tStartDate,\n\t\tEndDate,\n\t\tStatus\n\t)) ~> sink1"
						}
					],
					"transformations": [
						{
							"name": "Filter1",
							"script": "dboDimProduct filter(isNull(EndDate)) ~> Filter1"
						},
						{
							"name": "Join1",
							"script": "SalesLTProduct, Filter1 join(ProductID == ProductKey,\n\tjoinType:'left',\n\tbroadcast: 'none')~> Join1"
						},
						{
							"name": "Select1",
							"script": "Join1 select(mapColumn(\n\t\tProductID,\n\t\tName,\n\t\tProductNumber,\n\t\tListPrice = SalesLTProduct@ListPrice,\n\t\tSize = SalesLTProduct@Size,\n\t\tWeight = SalesLTProduct@Weight,\n\t\tProductCategoryID,\n\t\tProductModelID,\n\t\tSellStartDate,\n\t\tSellEndDate,\n\t\tDiscontinuedDate,\n\t\tThumbNailPhoto,\n\t\tThumbnailPhotoFileName,\n\t\trowguid,\n\t\tModifiedDate,\n\t\tProductKey,\n\t\tProductAlternateKey,\n\t\tProductSubcategoryKey,\n\t\tWeightUnitMeasureCode,\n\t\tSizeUnitMeasureCode,\n\t\tEnglishProductName,\n\t\tSpanishProductName,\n\t\tFrenchProductName,\n\t\tStandardCost = dboDimProduct@StandardCost,\n\t\tFinishedGoodsFlag,\n\t\tColor = dboDimProduct@Color,\n\t\tSafetyStockLevel,\n\t\tReorderPoint,\n\t\tSizeRange,\n\t\tDaysToManufacture,\n\t\tProductLine,\n\t\tDealerPrice,\n\t\tClass,\n\t\tStyle,\n\t\tModelName,\n\t\tLargePhoto,\n\t\tEnglishDescription,\n\t\tFrenchDescription,\n\t\tChineseDescription,\n\t\tArabicDescription,\n\t\tHebrewDescription,\n\t\tThaiDescription,\n\t\tGermanDescription,\n\t\tJapaneseDescription,\n\t\tTurkishDescription,\n\t\tStartDate,\n\t\tEndDate,\n\t\tStatus\n\t))~> Select1"
						},
						{
							"name": "ConditionalSplit1",
							"script": "Select1 split(isNull(ProductAlternateKey),\n\tdisjoint: true) ~> ConditionalSplit1@(newrow)"
						},
						{
							"name": "setattribute",
							"script": "SurrogateKey1 derive(ProductAlternateKey = concat('abcd',toString(ProductAlternateKey)),\n\t\tStatus = 'Y',\n\t\tStartDate = currentDate()) ~> setattribute"
						},
						{
							"name": "SurrogateKey1",
							"script": "ConditionalSplit1@newrow keyGenerate(output(ProductAlternateKey as long),\n\tstartAt: 1L) ~> SurrogateKey1"
						}
					]
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Sabermetrics')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SaberMetrics",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SaberMetrics",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"batting": {},
									"players": {},
									"sink1": {}
								}
							},
							"staging": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/updateCrimesFact')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "getLastUpdateDate",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "select max(date) as MaxDate From ChicagoCrimes"
							},
							"dataset": {
								"referenceName": "CrimesFact",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					},
					{
						"name": "Set LastDate",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "getLastUpdateDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "LastDate",
							"value": {
								"value": "@activity('getLastUpdateDate').output.firstRow.MaxDate",
								"type": "Expression"
							}
						}
					},
					{
						"name": "GetLatestReport",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set LastDate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "HttpSource",
								"httpRequestTimeout": "00:01:40"
							},
							"sink": {
								"type": "BlobSink"
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "ChicagoCrimesSODA",
								"type": "DatasetReference",
								"parameters": {
									"LastDate": {
										"value": "@variables('LastDate')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "CrimesFileSink",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					},
					{
						"name": "Transform New Reports",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "GetLatestReport",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Transform New Reports",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"NewCrimesFile": {},
									"NewCrimesTable": {}
								}
							},
							"staging": {}
						}
					}
				],
				"variables": {
					"LastDate": {
						"type": "String",
						"defaultValue": "01/01/2001"
					}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/Transform New Reports')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/scd type 2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "SCD type 2",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "SCD type 2",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"SalesLTProduct": {},
									"dboDimProduct": {},
									"sink1": {}
								}
							},
							"staging": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/SCD type 2')]"
			]
		}
	]
}